# ---- Global ----
.DS_Store
Thumbs.db

# ---- Vue 3 + Vite Frontend ----
/frontend/node_modules
/frontend/dist
/frontend/.env.local
/frontend/.vite

# ---- Python FastAPI Backend ----
/backend/__pycache__/
/backend/venv/
/backend/.env
/backend/*.pyc

# ---- Logs ----
*.log

# ---- OS Specific ----
*.swp
*.swo

# ---- IDEs ----
.vscode/
.idea/
*.code-workspace

# Data examples
/backend/data/clean_stats/*
!/backend/data/clean_stats/test.txt
/backend/data/raw_stats/*
!/backend/data/raw_stats/test.txt
/backend/data/results/*
!/backend/data/results/test.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class